.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.cart{
    color: white;
    padding-right: 10px;
}

.login{
    color:white;
    text-decoration: none;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 20px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.search-button {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

a:hover {
    color: #ccc;
}

.cart-login{
    margin-right: 15px;
}